<table class="papers">
{%- for pub in site.data.publications.main %}
{%- assign links = "" | split: "" %}
{%- if pub.pdf %}{% capture l %}<a href="{{ pub.pdf }}">PDF</a>{% endcapture %}{% assign links = links | push: l %}{% endif %}
{%- if pub.code %}{% capture l %}<a href="{{ pub.code }}">Code</a>{% endcapture %}{% assign links = links | push: l %}{% endif %}
{%- if pub.page %}{% capture l %}<a href="{{ pub.page }}">Paper page</a>{% endcapture %}{% assign links = links | push: l %}{% endif %}
{%- if pub.bibtex %}{% capture l %}<a href="{{ pub.bibtex }}">BibTeX</a>{% endcapture %}{% assign links = links | push: l %}{% endif %}
{%- if pub.doi %}{% capture l %}<a href="https://doi.org/{{ pub.doi }}">DOI</a>{% endcapture %}{% assign links = links | push: l %}{% endif %}
<tr><td>
  <span class="ptitle">{% if pub.pdf %}<a href="{{ pub.pdf }}">{{ pub.title }}</a>{% else %}{{ pub.title }}{% endif %}</span><br>
  {{ pub.authors }}<br>
  <span class="venue">{{ pub.venue }}</span>{% if pub.notes %} <span class="note">{{ pub.notes }}</span>{% endif %}
  {%- if links.size > 0 %}<br>{{ links | join: " / " }}{% endif %}
</td></tr>
{%- endfor %}
</table>
